<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="persephone">
    <Properties>
        <Property name="log_path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console_log" target="SYSTEM_OUT">
            <PatternLayout pattern="%level: %d{ISO8601} [%t] %c{10} - %msg%n" />
        </Console>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" />
        </Console>
        <RollingFile name="trace_log" fileName="${log_path}/persephoneLibrary_trace.log"
            filePattern="${log_path}/persephoneLibrary_trace-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%level: %d{ISO8601} [%t] %c{10} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
        <RollingFile name="error_log" fileName="${log_path}/persephoneLibrary_error.log"
            filePattern="${log_path}/persephoneLibrary_error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%level: %d{ISO8601} [%t] %c{10} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="edu.pitt.gallowdd.persephone.influence.modelphysics" level="trace" additivity="false">
            <AppenderRef ref="trace_log" level="trace" />
            <AppenderRef ref="error_log" level="error" />
            <AppenderRef ref="console_log" level="trace" />
        </Logger>
        <Logger name="edu.pitt.gallowdd.persephone.util" level="trace" additivity="false">
            <AppenderRef ref="trace_log" level="trace" />
            <AppenderRef ref="error_log" level="error" />
            <AppenderRef ref="console_log" level="trace" />
        </Logger>
        <Logger name="edu.pitt.gallowdd.persephone.controller" level="trace" additivity="false">
            <AppenderRef ref="trace_log" level="trace" />
            <AppenderRef ref="error_log" level="error" />
            <AppenderRef ref="console_log" level="trace" />
        </Logger>
        <Logger name="edu.pitt.gallowdd.persephone.location.initializer" level="trace" additivity="false">
            <AppenderRef ref="trace_log" level="trace" />
            <AppenderRef ref="error_log" level="error" />
            <AppenderRef ref="console_log" level="trace" />
        </Logger>
        <Root level="warn">
            <AppenderRef ref="console_log" />
        </Root>
    </Loggers>
</Configuration>